<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
    <style>
        .banner {
            background: url("https://hv20svg222.neubox.net:2083/cpsess4032597379/viewer/home%2fgomojuin%2fpublic_html/principal.jpg");
        }
	</style>
</head>

<body>
	<table cellpadding="0" cellspacing="0"
		style="width: 600px; height: auto; color: #123d67; margin: 0 auto; background: #fff; font-family: 'Roboto'; border: 1px solid #d7dde0; border-radius: 5px;">
		<tr class="banner">

			<!--<img style="display: block; margin: auto;" src="cid:{{logo}}">-->

		</tr>
		<tr>
			<div style="display: block; margin: auto; width: 600px; height: 400px;">
				<h3
					style="text-align: center; font-weight: bolder; font-size: 2vh; width: 600px; margin-top: 0  !important; padding-top: 5px; font-family: 'Roboto'; color: #123d67">
					¡Felicidades {{nombre_empleado}} ¡</h3>
				<h3
					style="text-align: center; font-weight: bolder; font-size: 2vh; width: 600px; margin-top: 0  !important; padding-top: 5px; font-family: 'Roboto'; color: #123d67">
					{{nombre_envia}} a te ha reconocido por la competencia de</h3>
				<h1
					style="text-align: center; font-weight: bolder; font-size: 2vh; width: 600px; margin-top: 0  !important; padding-top: 5px; font-family: 'Roboto'; color: #123d67">
					{{competencia}}</h1>
				<h4 style="font-family: 'Roboto'; font-weight: normal; margin-left: 20px">Ésto es lo que comentó al respecto:</h4>
				<h5 style="font-family: 'Roboto'; font-weight: normal; margin-left: 20px">{{comentario}}</h5>
					<div style="width: 500px; text-align: right; margin: auto">
						<div style="width: 200px; margin-left: auto">
							<img src="cid:{{competencia_imagen}}" style="width: 150px;" alt="">
							<button type="button"
								style="width: 150px; height: 30px;  background-color: #123d67; color: white; border: none;">Abrir
								aplauso</button>
						</div>
					</div>

			</div>
			<!-- <img style="display: block; margin: auto;" src="/texto.jpg" alt=""> -->
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" style="width: 100%;">
					<tr>
						<td style="width:100%;height:9px;background-color: orange;"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>

</html>